* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepage {
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/background.png") center/cover no-repeat;
}
